Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

trellisTest.com:
  site_hosts:
    - canonical: trellisTest.com

The above is the minimum required. Multiple hosts and redirects are possible:

trellisTest.com:
  site_hosts:
    - canonical: trellisTest.com
      redirects:
        - www.trellisTest.com
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
